@(id: Long, userForm: Form[User])

@import helper._

@main("input new user") {

    <h3>input new user</h3>
	
    @form(routes.UserController.updateUser(id)) {
    	@inputText(userForm("email"), '_showConstraints -> false)
    	@inputText(userForm("fullname"), '_showConstraints -> false)
    	@inputText(userForm("password"), '_showConstraints -> false)
    	@checkbox(userForm("isAdmin"), '_showConstraints -> false)
    	@inputText(userForm("age"), '_showConstraints -> false)

    	<button type="submit">submit</button>
    }

}