@(userForm: Form[User])

@import helper._

@main("input new user") {

    <h1>input new user</h1>
    <div>
        <a href="@routes.UserController.users">back to users</a>
    </div>
	
    @form(routes.UserController.createUser) {
    	@inputText(userForm("email"), '_showConstraints -> false)
    	@inputText(userForm("fullname"), '_showConstraints -> false)
    	@inputPassword(userForm("password"), '_showConstraints -> false)
    	@checkbox(userForm("isAdmin"), '_showConstraints -> false)
    	@inputText(userForm("age"), '_showConstraints -> false, 'maxlength -> 3)
        @inputText(userForm("address.city"), '_showConstraints -> false)
        @inputText(userForm("address.zipCode"), '_showConstraints -> false, 'maxlength -> 7)

    	<button type="submit">submit</button>
    }

}