@(userList: List[User])

@main("show all users") {

	<h1>user list</h1>

	<div>
		<a href="@routes.UserController.newUser()">new user</a>
	</div>

	<div>
		<table>
	    	<thead>
				<tr>
		    		<th>Id</th>
		    		<th>email</th>
		    		<th>password</th>
		    		<th>fullname</th>
		    		<th>isAdmin</th>
		    		<th>age</th>
		    		<th>city</th>
		    		<th>zipCode</th>
		    		<th>command</th>
		    	</tr>
	    	</thead>
	    	<tbody>
	    		@for(user <- userList) {
	    		<tr>
	    			<td>@user.getId</td>
	    			<td>@user.getEmail</td>
	    			<td>@user.getPassword</td>
	    			<td>@user.getFullname</td>
	    			<td>@user.getIsAdmin</td>
	    			<td>@user.getAge</td>
	    			<td>@user.getAddress.getCity</td>
	    			<td>@user.getAddress.getZipCode</td>
	    			<td>
	    				<a href="@routes.UserController.editUser(user.getId)">edit</a>
	    				<a href="@routes.UserController.deleteUser(user.getId)">delete</a>
	    				<a href="@routes.PostController.posts(user.getId)">posts</a>
	    			</td>
	    		</tr>
	    		}
	    	</tbody>

	    </table>
	</div>

}
